<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="One Shop Converter" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\program files\python38\python.exe|&quot;c:\program files\python38\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\OSC" />
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>
